.problem__stats-info-title {
    color: white;
    font-size: 44px;
    line-height: 52px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .problem__stats-info-title {
        font-size: 38px;
        line-height: 45px;
        text-align: center;
    }
}
