.chat {
    max-width: 491px;
    height: 389px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    .chat {
        margin-top: 100px;
        margin-left: unset;

    }
}



@media screen and (max-width: 580px) {
    .chat {
        margin-top: unset;

    }
}
