.header__right-container {
    display: flex;
    width: 100%;
    justify-content: end;
    min-width: 725px;
}

@media screen and (max-width: 1060px) {
    .header__right-container {
        min-width: 644px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .header__right-container {
        min-width: unset;
    }
}
