.image-carousel__button {
    height: 24px;
    max-width: 24px;
    width: 100%;
    border-radius: 50%;
    background: #1c383c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
