.image-carousel__button {
    height: 24px;
    max-width: 24px;
    width: 100%;
    border-radius: 50%;
    background-image: url(../../../../public/images/back.svg);
    color: white;

    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .image-carousel__button {
        position: absolute;
        left: 0;
        bottom: -48px;
    }
}
