.image-carousel__button {
    /* background-image: url(../../../../public/images/round.svg); */
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #1c383c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
