.hero {
    padding: 0 40px 0 40px;
    margin: 74px auto 120px auto;
    max-width: 1440px;
        overflow: hidden;


}

@media screen and (max-width: 1154px) {
    .hero {
        padding: 0 20px 0 20px;
    }
}


