.problem__stats-info {
    max-width: 708px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 78px;
}

@media screen and (max-width: 768px) {
    .problem__stats-info {
        margin: 0 0 40px 0;
    }
}
