.contact-button {
    background: #ff9820;
    border: none;
    border-radius: 10px;
    transition: 0.7s;
    color: rgba(255, 255, 255, 1);
    padding: 13px 24px;
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
}

.contact-button:hover {
    background: #e78819;
    transition: 0.7s;
}
