.infographic__graph-inside-circle {
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    height: 194px;
    width: 194px;
    border-radius: 50%;
    top: 21px;
    right: 21px;
}
