.image-comparison {
    max-height: 399px;
    max-width: 626px;
}

@media screen and (max-width: 768px) {
    .image-comparison {
        max-height: 287px;
        max-width: 399px;
        margin-bottom: 60px;
    }
}
