.image-comparison__slider-handle {
    all: unset;
    background: #ff9820;
    color: white;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-size: 16px;
    text-align: center;
}
