.pricing__top-title {
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    max-width: 780px;
    margin: 0;
    color: #1c383c;
}

@media screen and (max-width: 520px) {
    .pricing__top-title {
        font-size: 28px;
        line-height: 33px;
    }
}
