.soulution__ilustrations {
    display: flex;
    flex-direction: column;
    max-width: 1058px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .soulution__ilustrations {
        margin: 120px;
    }
}
