.pricing__top-image {
    max-width: 305.84;
    max-height: 281.81px;
}

@media screen and (max-width: 520px) {
    .pricing__top-image {
        max-width: 173px;
        max-height: 281.81px;
        margin: 0 auto;
    }
}
