.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 40px 0 20px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
}


@media screen and (max-width: 1060px) {
    .header {
        padding: 0 20px 0 20px;
    }
}
