.pricing__top-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1c383c;
    max-width: 780px;
    margin-top: 40px;
    margin-bottom: 240px;
}

@media screen and (max-width: 768px) {
    .pricing__top-description {
        margin-bottom: 120px;
    }
}
